#about-me {
  display: flex;
  flex-direction: row;
}

#about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#profile-pic {
  width: 50%;
  height: 50%;
  max-width: 500px;
  max-height: 500px;
}

@media (max-width: 650px) {
  #about-me {
    flex-direction: column-reverse;
    align-items: center;
  }
}
