{{ block "footer" . }}
  <div class="footer">
    <hr />

    <ul class="social-links">
      <li>
        <a href="https://www.linkedin.com/in/emilio-marin-8393a51bb/" target="_blank">
          LinkedIn
        </a>
      </li>

      <li>
        <a href="https://www.github.com/e-mar404" target="_blank">
          Github
        </a>
      </li>

      <li>
        <a href="mailto: egmarinn@gmail.com"> 
          Email
        </a>
      </li>

      <li>
        <a 
          href="https://drive.google.com/uc?export=download&id=18vSYuDEVFneaFE6RY3VkW_Iq_6B9NJce"
          download="resume-emilio-marin">
          Resume
        </a>
      </li>
    </ul>
  </div>
{{ end }}
