{{ block "navbar" . }}
  <div id="navbar">

    <ul id="pages">
      <li>
        <a class="page-link" href="/" >emilio marin</a>
      </li>

      <li>
        <a 
          class="page-link" 
          href="https://medium.com/@devemar" 
          target="_blank">blog</a>

        <span class="separator">-</span>

        <a 
          class="page-link"
          href="https://www.goodreads.com/user/show/165347457-emilio-marin"
          target="_blank" >reading</a>
      </li>
    </ul>

    <hr />
  </div>
{{ end }}
