<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>PBD - Dev Blog</title>

{{ $bundle := resources.Match "css/**.css" | resources.Concat "css/bundle.css" }}
<link rel="stylesheet" href="{{ $bundle.RelPermalink }}">
  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">

{{ $js := resources.Get "js/index.js" }}
<script src="{{ $js.RelPermalink }}" defer></script>
