<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>PBD - Dev Blog</title>

<!-- TODO: This is horrible pls fix -->
{{ with resources.Get "css/file-picker.css" }} 
  <link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }} 
{{ with resources.Get "css/file-tree.css" }} 
  <link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }} 
{{ with resources.Get "css/main.css" }} 
  <link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }} 

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
