.file-picker {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid var(--lavender-color);
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 5px
}

.file-picker-link {
  color: var(--text-color);
  text-decoration: none;
}

.file-picker-link:hover {
  color: var(--red-color);
  background-color: var(--overlay-0-color);
}

.file-picker-item {
  margin: 5px;
}

