nav {
  min-width: fit-content;
  height: 100%;
}

.file-tree {
  list-style: none;
  margin: 10px;
  padding: 5px;
  border: 2px solid var(--lavender-color);
  border-radius: 10px;
}

.file-tree-link {
  color: var(--text-color);
  text-decoration: none;
}

.directory {
  color: var(--green-color)
}

.directory:hover {
  color: var(--red-color);
}


.file-tree-item:hover {
  color: var(--red-color);
}

