nav {
  flex: 1;
  height: 100%;
  width: 100%;
}

summary {
  display: none;
}

.file-tree {
  list-style: none;
  margin: 5px;
  padding: 5px;
  border: 2px solid var(--lavender-color);
  border-radius: 10px;
  height: -webkit-fill-available;
}

.file-tree-link {
  color: var(--text-color);
  text-decoration: none;
}


.directory {
  color: var(--green-color)
}

.file-tree-item:hover > * {
  color: var(--red-color);
}

.file-tree-item:hover {
  color: var(--red-color);
  background-color: var(--overlay-0-color);
}

.file-tree-item.active {
  background-color: var(--overlay-0-color);
}

#file-tree-home {
  color: var(--red-color);
}

.file-tree-file {
  color: var(--blue-color);
}

.file-tree-symlink {
  color: var(--red-color);
}
