.file-picker {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: -webkit-fill-available;
  width: 100%;
  border: 2px solid var(--lavender-color);
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  overflow-y: auto;
}

.file-picker-link {
  color: var(--text-color);
  text-decoration: none;
}

.file-picker-link:hover {
  color: var(--red-color);
  background-color: var(--overlay-0-color);
}

.file-picker-item {
  margin: 5px;
}

