:root {
  --base-color: #1e1e2e;
  --overlay-0-color: #6c7086;
  --lavender-color: #b4befe;
  --text-color: #cdd6f4;
  --red-color: #f38ba8;
  --green-color: #a6e3a1;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

#root {
  font-family: "Fira Code", monospace;
  color: var(--text-color);
  background-color: var(--base-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

#logo {
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 0;
  max-height: 100%;
  width: 80%;
  padding: 10px;
  margin: 10px;
  border: 2px solid var(--lavender-color);
  border-radius: 10px;
}
