:root {
  --base-color: #1e1e2e
}

#root {
  background-color: var(--base-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  width: 100%;
}

#logo {
  width: 100vw;
}

