{{ define "main" }}

{{ partial "navbar" . }}

<div class="file-picker">
  <button class="file-picker-link" onclick="history.back()">
    <p class="file-picker-item">
      ./..
    </p>
  </button>
    
  {{ $format := "2006 01 02" }}

  {{ range .Paginator.Pages }}
    <a class="file-picker-link" href="{{ .RelPermalink }}">
      <p class="file-picker-item">
        {{ .Date | time.Format $format }} - {{ .LinkTitle }}
      </p>
    </a>
  {{ end }}

  {{ partial "pagination.html" . }}

</div>

{{ end }}
